.dropdown {
    background-color: aqua;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #03e9f4;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
header { 
  padding-bottom: 100px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
}
 .dropdown-content a:hover {
    background-color: #f1f1f1;

 }
 .dropbttn:hover ~ .dropdown-content {
    display: flex;
 }
 .dropdown img {
    display: flex;
    justify-content: center;
 }
 .logo {
    margin: auto;
    width: 200px;
    height: 120px;
 }
 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');




.dropdown{ 
  position: relative;
  display: flex;
  background-color: #fffffe;
  color: #03e9f4;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.dropdown:hover{
    display: flex;
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, rgba(250, 249, 249, 0.333));
}
.dropbttn {

  position: absolute;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 20px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 22px;
}

.dropbttn:focus {
    display: flex;
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.dropbttn:hover {
    display: flex;
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.dropbttn:active {
    display: none;
    display: flex;
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);

}
.dropdown-content {
    display: none;
    position: absolute;
    margin-left: 100px;
}
.dropbttn a:hover {
    display: none;
    position: absolute;
}

.dropdown-content:hover {
    display: flex;
}

.dropdown-img {
    display: flex;
}

.dropdown-img img{
   justify-content: space-evenly;
    width: 30px;
    cursor: pointer;
    transition: 0.3s;
}
.dropdown-img img:hover {
  transform: scale(1.2);
}
.images {
  padding-top: 30px;
  background-color: white;
  overflow: auto;
  white-space: nowrap;
  padding: 5px;
}
.images img {
  border-top:solid skyblue;
  border-bottom:solid skyblue;
  width: 350px;
  height: 200px;
  padding: 2px;
}

h1 {
  border-top: solid skyblue;
  border-bottom: solid skyblue;
  font-size: 65px;
  display: flex;
  justify-content: center;
  -webkit-text-stroke: 0.1px black;

}
.h11 {
  padding-left: 30px;
  border-top: solid skyblue;
  border-bottom: solid skyblue;
  color: #050801;
  font-size: 17px;
  display: flex;
  justify-content: left;
  -webkit-text-stroke: 0.1px rgb(10, 10, 10);
  
}
h3 {
  display: flex;
  justify-content: center;
  padding-left: 80px;
  border-bottom: solid skyblue;
}
p {
  margin-right: 60px;
  margin-left: 60px;
  justify-content: center;
  display: flex;
  font-weight: bold;
  border-bottom: solid skyblue;
}
body {
  margin: 15px;
}




